header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    color: #111827;
}

main{
    padding: 2rem;
}

h1{
    font-style: italic;
}

div label{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2rem 0 0.5rem;
    color: #374151;
}

.Sidebar{
    background-color: #DFD3C3;
    padding: 15px;
    width: 100px;
    float: left;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.side-icon {
    width: 50%; 
    height: auto;
    max-width: 100%;
    margin: 10px auto;
    padding: 3px;
}

.Sidebar p{
    text-align: center;
    margin: 30px 0;
    color: black;
}

main div{
    margin : 0 20px;
    padding: 20px;
    background-color: #F7F7F7;
}

.Home-content{
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
}

.table-name {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2rem 0 0.5rem;
    color: #374151;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
}

thead {
    background-color: #e5e7eb;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #d1d5db;
}

th {
    font-weight: 600;
    color: #1f2937;
}

tbody tr:hover {
    background-color: #f3f4f6;
}

.Edit-content{
    display: none;
    flex-direction: column;
}

.Add-content{
    display: none;
    flex-direction: column;
}

.Delete-content{
    display: none;
    flex-direction: column;
}

.form-container{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    padding: 20px;
    background-color: #F7F7F7;
}

form div label{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 5px;
    color: brown;
}

.form-button{
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 600px) {

    main{
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .Sidebar{
        width: 50px;
        padding: 0px;
        padding-left: 5px;
    }

    .Sidebar p{
        font-size: 12px;
        margin: 3px;
        margin-left: 0px;
        text-align: left;
        margin-top: 10px;
    }

    .side-icon {
    width: 80%; 
    height: auto;
    max-width: 100%;
    margin: 5px auto;
    padding: 5px;
    margin-right: 10px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead {
        display: none;
    }

    td {
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 1rem;
        top: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75rem;
        color: #6b7280;
    }
}